<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>framework demo</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        
        <p>This is <span>program</span> messages demo page.</p>

<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<script>
$(document).ready(function() {
//	$.ajax({
//		url: "http://localhost:8080/api/samples/2",
//		dataType: "json",
//		crossOrigin : true	
//	}).done(function(data) {
//			console.log( data );
//	}).fail(function(jqXHR, textStatus ) {
//			alert( "Request failed: " + textStatus );
//	})

$("h1").html("Welcome...");
});
</script>
    </body>
</html>